# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# Flask
instance/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Database files
*.db
*.sqlite
*.sqlite3

# Python logs
*.log